@import "theme-relearn-dark.css";

:root {
    --MENU-HEADER-BG-color: var(--MENU-SECTIONS-BG-color);
    --MENU-HOME-LINK-color: var(--MENU-SECTIONS-LINK-color);
    --MENU-HOME-LINK-HOVER-color: var(--MENU-SECTIONS-LINK-HOVER-color);
    
    --CODE-theme: github-dark;
}

.light {
    display: none !important;
}
